<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button/>
    </ion-buttons>
    <ion-title class="text-center">
      Dbox
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon name="log-out-outline" color="primary" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<div id="container">
  <div class="content">
    <ion-grid>


      <ion-row>
        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-col>
                <p style="font-size: 15px;"><strong>Firma</strong></p>
              </ion-col>
            </ion-card-header>
            <ion-card-content>
              <hr style="border-color: #ccc;">
              <canvas #canvas width="400" height="300"></canvas>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button style="width:100%" color="medium" (click)="clear()">Limpiar</ion-button>
        </ion-col>
        <ion-col>
          <ion-button style="width:100%" color="secondary" (click)="cancel()">Cancelar</ion-button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button style="width: 100%;" (click)="complete()">Completar</ion-button>
        </ion-col>
      </ion-row>

    </ion-grid>
  </div>
</div>

